__pycache__/
__pycache__
build/
build
dist/HamMessenger2
dist/HamMessenger2-U.x.x.x.tar.gz
dist/*.exe
builder/*.exe
hgm.code-workspace
HamMessenger2*/
HamMessenger2_log.json.lock
HamMessenger2_log.json
HamMessenger2_log
HM2.log
dist-1
prod
prod/




